.cta-btn{
    border-radius: 3rem;
    transition-duration: .6s;
    padding-block: 1.5rem 1.6rem;
    padding-inline: 2rem;
    background-color: black;
    color:white;
}
.cta-btn:hover{
    border-radius: 3rem;
    transition-duration: .6s;
    padding-block: 1.5rem 1.6rem;
    padding-inline: 2rem;
    background-color: white;
    color:black;
    border: 1px solid black;
}